[Unit]
Description=Dynhost revisited
After=tlp-init.service

[Service]
Restart=on-abort
ExecStart=/usr/bin/dynhost
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
